@import "global/mixins";
@import "global/fonts";
@import "global/vars";
@import "global/libs";

@import "sections/header";
@import "sections/mobile";
@import "sections/awesome";
@import "sections/akita";
@import "sections/blog";
@import "sections/write";
@import "sections/design";
@import "sections/team";
@import "sections/contactForm";
@import "sections/footer";

::placeholder {
    color: #666;
}
	

::selection {
    background-color: $accent;
	color: #fff;
}
	

input, textarea {
    outline: none;
	&:focus:required:invalid {
        border-color: red;
    }
		
	&:required:valid {
        border-color: green;
    }
		
}
	

body {
    font-size: 1rem;
    margin: auto;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $ff-main;
	overflow-x: hidden;
    color: $text;
}

html {
    box-sizing: border-box;

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul,
ol {
    list-style-type: none;
}

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.container {
    max-width: 1600px;
    margin: auto;
}

.is-hidden {
    display: none!important;
}

.visually-hidden {
    text-indent: -9999px;
    font-size: 0;
}