.awesome {
    background-color: $blue;
    color: #fff;
    padding: 200px 0 80px 0;
    .title {
        position: relative;        
        &__header {
            color: #fff;
            font-family: $ff-main-Medium;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;; 
            margin: 0;

            @media (max-width: 320px) {
                font-size: 1.5rem;
            }
        }

        &__image {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        
    }

    &__list {
        margin-top: 0;
        display: flex;
        text-align: center;
        padding-top: 180px;   
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__item {
        margin: 10px;   
        width: 20%;

        @media (max-width: 1200px) {
            width: 40%;
        }

        @media (max-width: 320px) {
            width: 80%;
        }
    }

    &__circle {
        margin: auto;
        justify-content: center;
        width: 130px;
        display: flex;
        height: 130px;
        background: #2e85aa;
        border-radius: 50%;
    }

    &__header {
        font-family: $ff-main-Medium;
        text-transform: uppercase;
        margin: 25px 0 35px;

        @media (max-width: 320px) {
            font-size: 1.5rem;
        }
    }

    &__description {
        font-size: 0.9rem;
        font-family: $ff-main-normal;
    }
}