.blog {
    padding: 70px 0 200px;
    text-align: center;

    &__subtitle {
        padding: 20px 0;
        font-size: 1.5rem;
        font-family: $ff-main-normal;
    }

    .fresh {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0;

            @media (max-width: 768px) {
                display: flex;
                justify-content: space-around;

            }

            @media (max-width: 320px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &__item {
            margin: 15px;
            width: 20%;

            @media (max-width: 768px) {
                width: 30%;
            }

            @media (max-width: 320px) {
                width: 85%;
            }
        }

        &__header {
            text-transform: uppercase;
            padding: 20px 0 10px;
            color: #11749e;
            font-family: $ff-main-Medium;
        }

        &__description {
            text-align: center;
            font-size: 0.85rem;
            color: #898989;
            font-family: $ff-main-normal;
            padding: 10px 25px 0 25px;
        }
    }
}