.contactForm {
    background: #ccc url('../img/Form-Logo.jpg') center/cover no-repeat;
    text-align: center;
    height: 100vh;
    padding-top: 155px;

    .title {
        &__header {
            text-transform: uppercase;
            color: #fff;
            font-family: $ff-main-Medium;
        }
    }

    .form {
        margin-top: 200px;
        &__fields {
            display: flex;
            justify-content: center;
        }

        &__input {
            border: 1px solid #fff;
            background: inherit;
            width: 370px;
            height: 50px;
            margin-right: 30px;
            color: #fff;
            padding-left: 20px;
            font-size: 0.85rem;

            &::placeholder {
                color: #fff;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }

    textarea {
        border: 1px solid #fff;
        background: transparent;
        margin: 40px auto 100px;
        display: block;
        height: 150px;
        width: 1170px;
        padding: 20px 0 0 20px;
        color: #fff;
        font-size: 0.85rem;

        &::placeholder {
            color: #fff;
        }
    }

    button {
        padding: 0;
        outline: none;
        font-size: 1.5rem;
        border: none;
        color: #fff;
        background-color: #11749e;
        text-transform: uppercase;
        height: 65px;
        width: 230px;
        transition: .3s;
        display: inline-block;
        font-family: $ff-main-Medium;

        &:hover {
            background: lighten($color: #11749e, $amount: 7%);
        }
    }
}