.design {
    height: 100vh;
    background: #ccc url('../img/write-bg.jpg') center/cover no-repeat;
    color: #fff;
    position: relative;

    .wrapper {
        padding: 250px 0 0 130px;

        @media (max-width: 992px) {
            padding: 150px 0 0 130px;
        }

        @media (max-width: 576px) {
            padding: 70px 0 0 70px;
        }

        @media (max-width: 320px) {
            padding: 120px 20px 80px 20px;
        }

        &__image {
            position: absolute;
            left: 70%;
            transform: translate(-50%, -25%);

            @media (max-width: 992px) {
                display: none
            }
        }

        &__header {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: $ff-main-Medium;
        }

        &__description {
            font-size: 0.9rem;
            color: #fff;
            margin: 30px 0 50px 0;
            width: 450px;
            font-family: $ff-main-normal;

            @media (max-width: 320px) {
                width: 280px;
            }
        }
    }
    

    .progress {
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        line-height: 2.5rem;

        &__text {
            background-color: #11749e;
            padding: 0 0 0 20px;
            width: 400px;
            font-family: $ff-main-Medium;

            @media (max-width: 576px) {
                width: 300px;
            }

            @media (max-width: 320px) {
                width: 150px;
                font-size: 0.6rem;
            }

            &--long {
                width: 450px;

                @media (max-width: 576px) {
                    width: 350px;
                }

                @media (max-width: 320px) {
                    width: 200px;
                }
            }

            &--theLongest {
                width: 500px;

                @media (max-width: 576px) {
                    width: 400px;
                }

                @media (max-width: 320px) {
                    width: 250px;
                }
            }
        }        
    }
}