.footer {
    &__top {
        background: #ccc url('../img/map.jpg') center/cover no-repeat;
        height: 332px;
    }

    &__bottom {     
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #222222;
        padding: 40px 0;
        color: #fff;
        font-size: 0.8rem;
        vertical-align: middle;

        @media (max-width: 320px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__copyrights {
        display: flex;
        vertical-align: middle;

        @media (max-width: 320px) {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__autor {
        display: flex;
        vertical-align: middle;

        @media (max-width: 1200px) {
            margin-top: -10px;
        }
    }
}