.team {
    text-align: center;
    padding-bottom: 70px;

    &__logo {
        margin-top: -30px;
    }

    &__title {
        font-size: 1.5rem;
        margin: 50px 0 50px;
        font-family: $ff-main-normal;
    }

    .photos {
        height: 200px;
        background: red;
        &__list {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 1200px) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        &__item {
            position: relative;

            @media (max-width: 992px) {
                margin-bottom: 80px;

                &:last-child {
                    //margin-bottom: 0;
                }
            }

            @media (max-width: 768px) {
                margin-bottom: 50px;
            }
        }

        &__visitCard {
            position: absolute;
            bottom: -23%;
            right: 50%;
            left: 50%;   
            height: 100px;
            width: 200px;
            background-color: #fff;
            transform: translate(-50%, -50%);
        }

        &__name {            
            color: $blue;
            text-transform: uppercase;
            margin: 15px 0 12px;
            font-family: $ff-main-Medium;
        }

        &__profession {
            margin: 0;
            color: #000;
            font-family: $ff-main-Medium;
        }
    }

    
}