section.akita
    .container
        ul.akita__list
            li.akita__item.akita__item--black
                h3.akita__header July 29, 2019 | In Culture
                p.akita__subtitle akita imu dog
                p.akita__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
                p.akita__description.
                    Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur

            li.akita__item
                img(src="img/akita-1.jpg", alt="picture")

            li.akita__item
                img(src="img/akita-2.jpg", alt="picture")

            li.akita__item.akita__item--gray
                h3.akita__header July 29, 2019 | In Culture
                p.akita__subtitle--gray akita imu dog
                p.akita__description. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
                    
                    Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur 
