section.awesome
    .container
        h2.title.title__header we are an awesome agency

        ul.awesome__list
            li.awesome__item
                .awesome__circle
                    img(src="img/Write.svg", alt="picture")
                h3.awesome__header feature one
                p.awesome__description Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.

            li.awesome__item
                .awesome__circle
                    img(src="img/Write.svg", alt="picture")
                h3.awesome__header feature two
                p.awesome__description Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.
                
            li.awesome__item
                .awesome__circle
                    img(src="img/Search.svg", alt="picture")
                h3.awesome__header feature three
                p.awesome__description Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.

            li.awesome__item
                .awesome__circle
                    img(src="img/Simon.svg", alt="picture")
                h3.awesome__header feature four
                p.awesome__description Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.