section.blog
    .container
        .blog__title
            img(src="img/blog.png", alt="picture")
        .blog__subtitle We love clean design and advanced digital solutions.

        ul.fresh__list
            li.fresh__item
                img(src="img/blog-1.png", alt="picture")
                .fresh__header fresh summer campaign
                .fresh__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue

            li.fresh__item
                img(src="img/blog-2.png", alt="picture")
                .fresh__header fresh summer campaign
                .fresh__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue

            li.fresh__item
                img(src="img/blog-3.png", alt="picture")
                .fresh__header fresh summer campaign
                .fresh__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue

            li.fresh__item
                img(src="img/blog-4.png", alt="picture")
                .fresh__header fresh summer campaign
                .fresh__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue
