section.contactForm
    .title
        img.title__image(src="img/C.png", alt="picture")
        h2.title.title__header we'd love to hear about your project.

    .form-container
        form(action="#", method="post").form
            .form__fields
                input.form__input(type="text" placeholder="Name" data-valid="required")   
                input.form__input(type="email" placeholder="Email" data-valid="required" data-email)   
                input.form__input(type="text" placeholder="Phone" data-valid="required" data-number)

            textarea(name="", cols="30", rows="10" placeholder="Message")

        button(type="submit") submit