section.design
    .container
        .design__header Akita Inu Dog
        .design__description.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

        .progress
            p.progress__text fully responsive design
            p.progress__text.progress__text--long high quality code
            p.progress__text.progress__text--theLongest different headers &amp; layout


