section.footer
    .footer__top
    .footer__bottom
        .footer__copyrights @ 2019 PSDFreebies.com - ALL Right Reverved
        .footer__autor
            img(src="img/footer-design.png", alt="picture")

