section.team
    .container
        img.team__logo(src="img/OurTeam.png" alt="picture")

        .team__title sales long tail influencer pitch release niche market.

        ul.photos__list
            li.photos__item 
                img.photos__image(src="img/team-1.png", alt="picture")
                .photos__visitCard
                    p.photos__name john snow
                    p.photos__profession CEO

            li.photos__item
                img.photos__image(src="img/team-2.png", alt="picture")
                .photos__visitCard
                    p.photos__name lady sansa
                    p.photos__profession WebDesigner

            li.photos__item
                img.photos__image(src="img/team-3.png", alt="picture")
                .photos__visitCard
                    p.photos__name David smith
                    p.photos__profession Photographer

            li.photos__item
                img.photos__image(src="img/team-4.png", alt="picture")
                .photos__visitCard
                    p.photos__name lady sansa
                    p.photos__profession Photographer

