section.write
    .container
        ul.write__list
            li.write__item
                .write__img
                    img(src="img/Write.svg", alt="picture")
                .write__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            li.write__item
                .write__img
                    img(src="img/Write.svg", alt="picture")
                .write__description.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    